*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* creazione blocchi header con sottoblocchi */
.contenitoreHeader{
    background-color: lightblue;
    display: flex;
    justify-content: center ;
}

.riga1{
    display: flex;
    justify-content: center;
    background-color: orange;
    width: 70%;
    height: 30px;
    margin: 10px auto;
}

.col1, .col2, .col3 { 
    border: 2px solid black;
    border-style: dashed;
    padding: 5px;
}

.col1 {
    justify-content: flex-start;
    width: 20%;
}

.col2{
    display: flex;
    width: 60%;
}

.col3{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.listaHeader{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    margin: 0 30%;
}

/* creazione sottosezione dell'header */
.subsezioneHeader{
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: blue;
}

.contenitoreSubsezione {
    width: 40%;
    margin: 20px 0;
    background-color: rgb(207, 57, 170);
}

/* creazione corpo della pagina */
.contenitoreCorpo{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    width: 100%;
}

.contenitoreRiga {
    display: flex;
    justify-content: center ;
    width: 70%;
}

.contenitoreRigaSpeciale {
    display: flex;
    justify-content: center ;
    background-color: lightgrey;
    height: 360px;
    width: 100%;
}

.riga2, .riga4 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.riga3 {
    display: flex;
    justify-content: center ;
    width: 70%;
}

.colRosa3 {
    width: 40%;
    height: 300px;
    background-color: pink;  
    height: 100%;
}

.colBlu3 {
    width: 60%;
    height: 300px;
    background-color: rgb(9, 66, 170); 
    height: 100%;
  
}

.colBlu {
    width: 60%;
    height: 300px;
    background-color: rgb(9, 66, 170);
}

.colRosa {
    width: 40%;
    height: 300px;
    background-color: pink;
}

.contenitoreRigaSpeciale2 {
    display: flex;
    justify-content: center ;
    background-color: lightgrey;
    height: 500px; 
}

.riga5 {
   height: 400px;
    width: 70%;
    background-color: green;
}