*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* creazione blocchi header con sottoblocchi */
.contenitoreHeader{
    background-color: lightblue;
    display: flex;
    justify-content: center ;
}

.riga1{
    display: flex;
    justify-content: center;
    background-color: orange;
    width: 70%;
    height: 30px;
    margin: 10px auto;
}

.col1, .col2, .col3 { 
    border: 2px solid black;
    border-style: dashed;
    padding: 5px;
}

.col1 {
    justify-content: flex-start;
    width: 20%;
}

.col2{
    display: flex;
    width: 60%;
}

.col3{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.listaHeader{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    margin: 0 30%;
}

/* creazione sottosezione dell'header */
.subsezioneHeader{
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: blue;
}

.contenitoreSubsezione {
    width: 40%;
    margin: 20px 0;
    background-color: rgb(207, 57, 170);
    border: 2px solid black;
    border-style: dashed;
}

/* creazione corpo della pagina */
.contenitoreCorpo{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    width: 100%;
}

.contenitoreRiga {
    display: flex;
    justify-content: center ;
    width: 70%;
}

.contenitoreRigaSpeciale {
    display: flex;
    justify-content: center ;
    background-color: lightgrey;
    height: 360px;
    width: 100%;
}

.riga2, .riga4 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.riga3 {
    display: flex;
    justify-content: center ;
    width: 70%;
    margin: 20px 0;
}

.colRosa3 {
    width: 40%;
    height: 300px;
    background-color: pink;  
    height: 100%;
    border: 2px solid black;
    border-style: dashed;
}

.colBlu3 {
    width: 60%;
    height: 300px;
    background-color: rgb(9, 66, 170); 
    height: 100%;
    border: 2px solid black;
    border-style: dashed;
  
}

.colBlu {
    width: 60%;
    height: 300px;
    background-color: rgb(9, 66, 170);
    border: 2px solid black;
    border-style: dashed;
}

.colRosa {
    width: 40%;
    height: 300px;
    background-color: pink;
    border: 2px solid black;
    border-style: dashed;
}

.contenitoreRigaSpeciale2 {
    display: flex;
    justify-content: center ;
    background-color: lightgrey;
    height: 600px; 
    width: 100%;
}

.riga5 {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: green;
    margin: 20px 0;
    border: 2px solid black;
    border-style: dashed;
}

/* creazione footer */
.footer1, .footer2 {
    display: flex;
    justify-content: center ;
    background-color: rgb(27, 27, 27);
    width: 100%;
    flex-wrap: wrap;
}

.footer1 {
    border-bottom: 5px solid grey;
    height: 600px;
}

.footer2{
    height: 100px;
    align-items: flex-end;
}
.riga6{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 400px;
}

.col-1{
    background-color: rgb(236, 65, 108);
    width: 30%;
    height: 550px;
    border: 2px solid black;
    border-style: dashed;
    margin-top: 5px;
    margin-bottom: 25px;
}

.col-2, .col-3, .col-4, .col-5 {
    background-color: aqua;
    width: 17.5%;
    height: 550px;
    border: 2px solid white;
    border-style: dashed;
    margin-top: 5px;
    margin-bottom: 25px;
}

.riga7{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70%; 
    height: 60px;
    background-color: lightblue;
}

.bottone-1 {
    border: 2px solid black;
    border-style: dashed;
    background-color: pink;
    margin: 10px 0;
    text-align: center;
    padding: 2px;
}

.bottone-2{
    background-color: pink;
    border: 2px solid black;
    border-style: dashed;
    margin: 10px 0;
    text-align: center;
    padding: 2px;

}